<div class="container">

  <div class="card">
    <table class="table table-hover" *ngIf="true">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Auther</th>
          <th scope="col">Country</th>
          <th scope="col">Publisher</th>
          <th scope="col">ISBN</th>
          <th scope="col">Number Of Pages</th>
          <th scope="col">Release Date</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksData">
          <td scope="row">{{book?.name}}</td>
          <td>{{book?.authers}}</td>
          <td scope="row">{{book?.country}}</td>
          <td>{{book?.publisher}}</td>
          <td scope="row">{{book?.isbn}}</td>
          <td>{{book?.number_of_pages}}</td>
          <td scope="row">{{book?.release_date | date:shortDate}}</td>
          <td><a class="btn btn-sm btn-info" (click)="deleteBook(book._id)">
              <fa name="trash" animation="spin"></fa></a>
              <a class="btn btn-sm btn-info" (click)="editBook(book._id)">
                <fa name="edit" animation="spin"></fa>
              </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>